## **Importaci√≥n de librer√≠as**

In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly as px
import seaborn as sns

# **1. Extracci√≥n**üìå

## &nbsp;&nbsp;&nbsp;1.1. **Extracci√≥n de datos**

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1.1. **Cargando los datos de la API**

In [26]:
path = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'
df = pd.read_json(path)

In [27]:
df.sample(10)

,customerID,Churn,customer,phone,internet,account
5800,7929-SKFGK,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Two year', 'PaperlessBilling': '..."
665,0946-CLJTI,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
765,1090-ESELR,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Two year', 'PaperlessBilling': '..."
3214,4486-EFAEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'No', 'OnlineSecurity': 'N...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2100,2956-GGUCQ,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
788,1114-CENIM,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2330,3249-VHRIP,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
2195,3070-FNFZQ,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'No', 'OnlineSecurity': 'N...","{'Contract': 'Two year', 'PaperlessBilling': '..."
131,0220-EBGCE,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4808,6584-VQMYT,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."

* ### El DataFrame posee 6 columnas de las cuales 2 estan planas y 4 estan por normlaizar

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

* ### Normalizando columnas

In [29]:
#Normalizamos las columnas de uno en uno
customer_df = pd.json_normalize(df['customer'])
phone_df = pd.json_normalize(df['phone'])
internet_df = pd.json_normalize(df['internet'])
account_df = pd.json_normalize(df['account'])

In [30]:
#Creamos un data frame con las columnas planas
columnas_planas = df.drop(columns=['customer','phone','internet','account'])

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1.2. **Convirtiendo los datos en un DataFrame**

In [31]:
# Unimos todos los datos en un solo dataframe consolidado llamado "Datos"
datos = pd.concat([columnas_planas, customer_df, phone_df, internet_df, account_df], axis=1)

In [32]:
datos.sample(10)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
6157,8429-XIBUM,Yes,Male,0,No,No,22,Yes,Yes,Fiber optic,...,No,No,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),101.35,2317.1
672,0956-ACVZC,No,Female,0,No,No,54,Yes,No,Fiber optic,...,No,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),94.10,5060.9
953,1343-EHPYB,Yes,Male,0,Yes,No,63,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,103.40,6603
5785,7905-TVXTA,No,Female,0,No,No,5,Yes,No,DSL,...,No,No,Yes,Yes,No,Month-to-month,Yes,Electronic check,64.35,352.65
5546,7596-IIWYC,No,Female,0,No,No,27,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),20.25,538.2
3713,5125-CNDSP,No,Male,0,No,Yes,63,No,No phone service,DSL,...,Yes,No,Yes,No,No,One year,Yes,Bank transfer (automatic),40.60,2588.95
2110,2962-XPMCQ,Yes,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,45.15,98.5
5107,6980-IMXXE,No,Female,0,Yes,Yes,69,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),20.20,1412.65
5708,7799-LGRDP,No,Female,0,No,No,43,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),25.70,1188.2
844,1197-BVMVG,No,Female,1,No,No,4,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,74.45,294.45

# **2. Transformaci√≥n**üîß

## &nbsp;&nbsp;&nbsp;2.1. **Conociendo el conjunto de datos**

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.1.1. **Explorando las columnas del dataset y tipos de datos**

In [33]:
# Verificando las columnas y tipos de datos
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [34]:
# Verificando el tipo de dato de cada columna
datos.dtypes

customerID           object
Churn                object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
Charges.Monthly     float64
Charges.Total        object
dtype: object

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.2.2. **Identificar las columnas m√°s relevantes para el an√°lisis**

* variable objetivo o target en este caso ser√≠a la columna "**churn**" ya que indica si el cliente abandon√≥ el servicio.

* Variables categ√≥ricas

    * **CustomerID**: es el c√≥digo de identificaci√≥n del cliente
    * **gender**: g√©nero masculino o femenino
    * **Partner**: indica si el cleinte tiene o no tiene pareja (si / no)
    * **Dependents**: si el cliente tiene dependientes (si / no)
    * **PhoneService**: si esta o no esta suscrito al servicio telefonico (si / no)
    * **MultipleLines**: si esta suscrito a m√°s de una linea telef√≥nia (si / no)
    * **InternetService**: si esta  no esta a un proveedor de internet (si / no)
    * **OnlineSecurity**: suscripcion al servicio de seguridad en linea (si / no)
    * **OnlieBackup**: suscripci√≥n a un almacenamiento en linea (si / no)
    * **DeviceProtection**: Servicio de protecci√≥n en linea (si / no)
    * **TechSupport**: servicio de soporte tecnico (si / no)
    * **StreamingTV**: Suscripci√≥n a televisi√≥n por cable (si / no)
    * **StreamingMovies**: Suscripci√≥n a peliculas de streaming (si / no)
    * **Contract**: indica el tiempo de contrato
    * **PaperlessBilling**: facturaci√≥n en linea (si / no)
    * **PaymentMethod**: indica el metodo de pago del cliente

* Variable numericas

    * **tenure**: n√∫mero de meses de contrato del cliente
    * **Charges.Monthly**: n√∫mero total de servicios del cliente por mes
    * **Charges.Total**: gasto total del cliente

## &nbsp;&nbsp;&nbsp;2.2. **Comprobaci√≥n de incoherencias en los datos**

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.2.1. **Verificaci√≥n de posibles problemas en los datos**

In [35]:
# Verificando si las columnas presentan valores nulos
datos.isnull().sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

In [36]:
# Verificando si los datos presentan valores duplicados

datos.duplicated().sum()

0

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.2.2. **Manejo de inconsistencias**

In [39]:
# Eliminando filas en las que lacolumna 'Charges.Total' contega valores nulos

datos = datos.dropna(subset=['Charges.Total'])
datos

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [65]:
datos['Charges.Total'].sample(10)

4264     2893.4
7014     1617.5
5223    1345.65
2021     3470.8
5550     4512.7
7248     367.55
6682     1777.9
4885     4448.8
6714       45.6
704      492.55
Name: Charges.Total, dtype: object

In [66]:
# Reemplazando posibles caracteres no numericos para preparar la columna 'Caharges.total' para su conversi√≥n

datos['Charges.Total'] = datos['Charges.Total'].str.replace(' ','').replace('$', '').replace(',', '').replace('', None)

In [67]:
datos['Charges.Total'].dtype

dtype('O')

In [68]:
# Cambiando tipo de dato de 'Charges.Total' de objet a float64

datos['Charges.Total'] = datos['Charges.Total'].astype(float)

In [69]:
datos['Charges.Total'].dtype

dtype('float64')

In [70]:
# Verificamos si la columna 'churn' tiene campos vac√≠os, realizando un conteo de valores √∫nicos

datos['Churn'].value_counts()

Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

Se evidencia que hay 224 filas con valores en blanco

In [72]:
# Verificando filas con valores de 'churn' en blanco

datos[datos['Churn'].isin(['', None])]

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
30,0047-ZHDTW,,Female,0,No,No,11,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),79.00,929.30
75,0120-YZLQA,,Male,0,No,No,71,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),19.90,1355.10
96,0154-QYHJU,,Male,0,No,No,29,Yes,No,DSL,...,Yes,No,Yes,No,No,One year,Yes,Electronic check,58.75,1696.20
98,0162-RZGMZ,,Female,1,No,No,5,Yes,No,DSL,...,Yes,No,Yes,No,No,Month-to-month,No,Credit card (automatic),59.90,287.85
175,0274-VVQOQ,,Male,1,Yes,No,65,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),103.15,6792.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7158,9840-GSRFX,,Female,0,No,No,14,Yes,Yes,DSL,...,Yes,No,No,No,No,One year,Yes,Mailed check,54.25,773.20
7180,9872-RZQQB,,Female,0,Yes,No,49,No,No phone service,DSL,...,No,No,No,Yes,No,Month-to-month,No,Bank transfer (automatic),40.65,2070.75
7211,9920-GNDMB,,Male,0,No,No,9,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,76.25,684.85
7239,9955-RVWSC,,Female,0,Yes,Yes,67,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),19.25,1372.90
7247,9966-VYRTZ,,Female,0,Yes,Yes,31,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,19.55,658.95

In [73]:
# Creando un nuevo DataFrame para excluir los valores nulos de la columna 'churn'

datos_analisis = datos[datos['Churn'] != '']

In [75]:
datos_analisis['Churn'].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [76]:
datos_analisis

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.90
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60

Verificamos si existen otras columnas de tipo Yes/No con espacios en blanco

In [86]:
columnas_binarias = [
    'Churn', 'Partner', 'Dependents', 'OnlineSecurity', 'OnlineBackup',
    'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
    'PaperlessBilling', 'PhoneService', 'MultipleLines'
]

In [89]:
datos_analisis[columnas_binarias].isna().sum()

Churn               0
Partner             0
Dependents          0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
PaperlessBilling    0
PhoneService        0
MultipleLines       0
dtype: int64

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.2.3. **Columna de cuentas diarias**

Ahora que los datos est√°n limpios, es momento de crear la columna "`Charges.Daily`". Utiliza la facturaci√≥n mensual para calcular el valor diario, proporcionando una visi√≥n m√°s detallada del comportamiento de los clientes a lo largo del tiempo.

In [94]:
# Asignamos a los datos la columna 'charges.Dayli'

datos_analisis['Charges.Daily'] = datos_analisis['Charges.Monthly'] / 30

C:\Users\magno\AppData\Local\Temp\ipykernel_16864\1408734853.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos_analisis['Charges.Daily'] = datos_analisis['Charges.Monthly'] / 30

In [95]:
# Verificamos la la columna se ha creado correctamente

datos_analisis['Charges.Daily'].sample(10)

2930    2.445000
5281    3.360000
3232    2.690000
5185    2.471667
522     3.305000
1954    2.768333
32      0.681667
1264    0.971667
3790    3.148333
6412    1.838333
Name: Charges.Daily, dtype: float64

In [96]:
datos_analisis['Charges.Daily'].dtypes

dtype('float64')

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.2.4. **Estandarizaci√≥n y transformaci√≥n de datos**

In [90]:
# De la lista de columnas binarias. convertimos los valores Yes / No en 1 / 0 respectivamente

datos_analisis[columnas_binarias] = datos_analisis[columnas_binarias].replace({'Yes': 1, 'No': 0})

C:\Users\magno\AppData\Local\Temp\ipykernel_16864\437624103.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos_analisis[columnas_binarias] = datos_analisis[columnas_binarias].replace({'Yes': 1, 'No': 0})
C:\Users\magno\AppData\Local\Temp\ipykernel_16864\437624103.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos_analisis[columnas_binarias] = datos_analisis[columnas_binarias].replace({'Yes': 1, 'No': 0})

In [100]:
# Verificamos la trasformaci√≥n de los datos:

datos_analisis

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,Charges.Daily
0,0002-ORFBO,0,Female,0,1,1,9,1,0,DSL,...,0,1,1,0,One year,1,Mailed check,65.60,593.30,2.186667
1,0003-MKNFE,0,Male,0,0,0,9,1,1,DSL,...,0,0,0,1,Month-to-month,0,Mailed check,59.90,542.40,1.996667
2,0004-TLHLJ,1,Male,0,0,0,4,1,0,Fiber optic,...,1,0,0,0,Month-to-month,1,Electronic check,73.90,280.85,2.463333
3,0011-IGKFF,1,Male,1,1,0,13,1,0,Fiber optic,...,1,0,1,1,Month-to-month,1,Electronic check,98.00,1237.85,3.266667
4,0013-EXCHZ,1,Female,1,1,0,3,1,0,Fiber optic,...,0,1,1,0,Month-to-month,1,Mailed check,83.90,267.40,2.796667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,0,Female,0,0,0,13,1,0,DSL,...,0,1,0,0,One year,0,Mailed check,55.15,742.90,1.838333
7263,9992-RRAMN,1,Male,0,1,0,22,1,1,Fiber optic,...,0,0,0,1,Month-to-month,1,Electronic check,85.10,1873.70,2.836667
7264,9992-UJOEL,0,Male,0,0,0,2,1,0,DSL,...,0,0,0,0,Month-to-month,1,Mailed check,50.30,92.75,1.676667
7265,9993-LHIEB,0,Male,0,1,1,67,1,0,DSL,...,1,1,0,1,Two year,0,Mailed check,67.85,4627.65,2.261667
7266,9995-HOTOH,0,Male,0,1,1,63,0,No phone service,DSL,...,1,0,1,1,Two year,0,Electronic check,59.00,3707.60,1.966667

Traducimos el nombre de las columnas para obtner una mejor comprenci√≥n de los campos:

In [ ]:
# Verificamos el nombre de todas las columnas

columns = [datos_analisis.columns]
columns

[Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
        'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
        'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
        'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
        'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly', 'Charges.Total',
        'Charges.Daily'],
       dtype='object')]

In [103]:
# Creamos un diccionario con la traducci√≥n de estos nombres de columnas:

diccionario_traduccion = {
    'customerID': 'Id_Cliente',
    'Churn': 'Abandono',
    'gender': 'Genero',
    'SeniorCitizen': 'Adulto_Mayor',
    'Partner': 'Con_Pareja',
    'Dependents': 'Dependientes',
    'tenure': 'Antiguedad',
    'InternetService': 'Internet_Tipo',
    'OnlineSecurity': 'Seguridad_Linea',
    'OnlineBackup': 'Respaldo_Linea',
    'DeviceProtection': 'Proteccion_Equipo',
    'TechSupport': 'Soporte_Tecnico',
    'StreamingTV': 'Tv_Streaming',
    'StreamingMovies': 'Peliculas_Streaming',
    'Contract': 'Tipo_Contrato',
    'PaperlessBilling': 'Factura_Digital',
    'PaymentMethod': 'Metodo_Pago',
    'Charges.Monthly': 'Cargo_Mensual',
    'Charges.Total': 'Cargo_Total',
    'PhoneService': 'Servicio_Telefonico',
    'MultipleLines': 'Lineas_Multiples',
    'Charges.Daily': 'Cargo_Diario'
}

In [110]:
# Renombramos el nombre de las columnas a los datos a partir del diccionario creado

datos_analisis = datos_analisis.rename(columns=diccionario_traduccion)

In [111]:
datos_analisis.dtypes

Id_Cliente              object
Abandono                 int64
Genero                  object
Adulto_Mayor             int64
Con_Pareja               int64
Dependientes             int64
Antiguedad               int64
Servicio_Telefonico      int64
Lineas_Multiples        object
Internet_Tipo           object
Seguridad_Linea         object
Respaldo_Linea          object
Proteccion_Equipo       object
Soporte_Tecnico         object
Tv_Streaming            object
Peliculas_Streaming     object
Tipo_Contrato           object
Factura_Digital          int64
Metodo_Pago             object
Cargo_Mensual          float64
Cargo_Total            float64
Cargo_Diario           float64
dtype: object

In [112]:
datos_analisis

,Id_Cliente,Abandono,Genero,Adulto_Mayor,Con_Pareja,Dependientes,Antiguedad,Servicio_Telefonico,Lineas_Multiples,Internet_Tipo,...,Proteccion_Equipo,Soporte_Tecnico,Tv_Streaming,Peliculas_Streaming,Tipo_Contrato,Factura_Digital,Metodo_Pago,Cargo_Mensual,Cargo_Total,Cargo_Diario
0,0002-ORFBO,0,Female,0,1,1,9,1,0,DSL,...,0,1,1,0,One year,1,Mailed check,65.60,593.30,2.186667
1,0003-MKNFE,0,Male,0,0,0,9,1,1,DSL,...,0,0,0,1,Month-to-month,0,Mailed check,59.90,542.40,1.996667
2,0004-TLHLJ,1,Male,0,0,0,4,1,0,Fiber optic,...,1,0,0,0,Month-to-month,1,Electronic check,73.90,280.85,2.463333
3,0011-IGKFF,1,Male,1,1,0,13,1,0,Fiber optic,...,1,0,1,1,Month-to-month,1,Electronic check,98.00,1237.85,3.266667
4,0013-EXCHZ,1,Female,1,1,0,3,1,0,Fiber optic,...,0,1,1,0,Month-to-month,1,Mailed check,83.90,267.40,2.796667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,0,Female,0,0,0,13,1,0,DSL,...,0,1,0,0,One year,0,Mailed check,55.15,742.90,1.838333
7263,9992-RRAMN,1,Male,0,1,0,22,1,1,Fiber optic,...,0,0,0,1,Month-to-month,1,Electronic check,85.10,1873.70,2.836667
7264,9992-UJOEL,0,Male,0,0,0,2,1,0,DSL,...,0,0,0,0,Month-to-month,1,Mailed check,50.30,92.75,1.676667
7265,9993-LHIEB,0,Male,0,1,1,67,1,0,DSL,...,1,1,0,1,Two year,0,Mailed check,67.85,4627.65,2.261667
7266,9995-HOTOH,0,Male,0,1,1,63,0,No phone service,DSL,...,1,0,1,1,Two year,0,Electronic check,59.00,3707.60,1.966667

#üìä Carga y an√°lisis

#üìÑInforme final